node_modules/
www/
android/.gradle/
android/.idea/
android/local.properties
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.keystore
*.jks
*.p12
*.pfx
keystore.properties
*.apk
*.aab
